.sidebar_container {
    background: var(--color-bg);
    block-size: 100vh;
    inline-size: 24%;
    color: var(--color-text);
    padding-block-start: 1rem;
    padding-inline: 1rem;
    position: fixed;
}

.sidebar_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-block-end: 3rem;
}

.sidebar_title ion-icon {
    margin-block-start: .1rem;
    font-size: 1.3rem;
    cursor: pointer;
}