.chat_container {
    background: var(--color-bg-primary);
    inline-size: 100%;
    color: var(--color-text);
    padding-block-start: .8rem;
}

.chat_username {
    margin-inline-start: 1rem;
}

.chat_username h3 {
    font-size: .9rem;
    margin-inline-start: 20rem;
}


.chat_header {
    display: flex;
    justify-content: center;
    background: var(--color-bg-input);
    margin-block-start: .5rem;
}

.chat_header p,
.chat_body p {
    font-size: .8rem;
}

.chat_body {
    display: flex;
    flex-direction: column;
    margin-inline-start: 25%;
    margin-block-start: 18%;
    align-items: center;
    block-size: 100vh;
}

.chat_body h1 {
    font-size: 1.4rem;
    margin-block-end: -.5rem;
    margin-block-start: .5rem;
}

.chat_body ion-icon {
    font-size: 1rem;
    background: var(--color-bg-button);
    padding: 1rem;
    border-radius: 50%;
}