@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter";
  line-height: 1.5;
  font-weight: 400;
  scroll-behavior: smooth;

  color: #213547;
  background-color: #ffffff;
  font-size: 14px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --theme-blue:#366388;
  --theme-dark:#213547;
  --theme-gray:#f9f9f9;
  --theme-yellow:rgb(199, 140, 31);
  --hover-blue:#535bf2;
} 

.sidebar::-webkit-scrollbar{
  display: none;
}
.sidebar{
  scrollbar-width: none;
}

#notifcation_hero_image{
  background: linear-gradient(rgba(40, 40, 41, 0.5), rgba(24, 23, 26, 0.5)),
  url("./assets/team-dynamics.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

table{
  width: 100%;
}
td{
  padding: 28px;
  text-align: center;
}
th {
  padding: 12px 24px;
  background-color: rgb(231, 237, 245);
}

.button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;    
  cursor: pointer;
  transition: border-color 0.25s;
}
.button:hover {
  border-color: var(--theme-blue);
}
.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 10vw;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.show {display: block;}
.none{display: none;}

@media screen and (max-width:900px) {
  .dropdown-content{
    margin-left: -2vw;
    min-width: 12vw;
  }
}

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {
  .md-nav{
    display: none; 
  }
} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
 
} */

@media only screen and (max-width: 768px) {
  .md-nav{
    display: none; 
  }
  .dropdown-content{
    margin-left: -10vw;
    min-width: 19vw;
  }
  td{
    padding: 12px 10px;
  }
  th {
    padding: 12px 10px;
  }
  
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .max-md-nav{
    display: none; 
  }
}

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */
