/* ********** GENERAL STYLING ********** */
:root {
  /* ************** DARK MODE EFFECT **************** */
  --color-bg-primary: #000;
  --color-bg: rgb(14, 14, 14);
  --color-bg-button: rgb(58, 47, 78);
  --color-bg-input: rgb(255, 96, 21);

  --color-text: rgb(241, 241, 241);
  --color-text-input: rgb(255, 255, 255);
  --color-text-button: rgb(255, 255, 255);

  --transition: all 450ms ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  line-height: 1.7;
}

#root {
  display: flex;
}

h1 {
  font-size: 1.8rem;
  color: var(--color-text);
}

button {
  padding-block: 1rem;
  inline-size: 100%;
  background: var(--color-bg-button);
  cursor: pointer;
  transition: var(--transition);
  color: var(--color-text-button);
  border-radius: .5rem;
  margin-block-start: .5rem;
}

button:hover {
  background: var(--color-bg-input);
}

input {
  padding-block: 1rem;
  inline-size: 100%;
  background: var(--color-bg-input);
  color: var(--color-text-input);
  border-radius: .5rem;
  padding-inline-start: 1rem;
}

input::placeholder {
  color: #555;
}

/* **************************** MEDIA QUERIES**************************** */
/* ************** LARGER SCREENS ************** */
@media screen and (max-width: 1023px) {
  .sidebar_container {
    inline-size: 30%;
  }

  .chat_username {
    margin-inline-start: -4rem;
  }
}

/* ************** SMALLER SCREENS SCREENS ************** */
@media screen and (max-width: 768px) {
  .sidebar_container {
    display: none;
  }

  .chat_username {
    margin-inline-start: 0;
  }

  .chat_username h3 {
    margin-inline-start: 1rem;
  }

  .chat_body {
    margin-inline-start: 5%;
    margin-inline-end: 1rem;
  }

  .chat_body p {
    font-size: 1rem;
    text-align: center;
  }
}